<!DOCTYPE html>
<html lang="{{ site.language }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="{{ eleventy.generator }}">
    
    {% if description %}
    <meta name="description" content="{{ description }}">
    {% elif site.description %}
    <meta name="description" content="{{ site.description }}">
    {% endif %}
    
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ site.url }}{{ page.url | url }}">
    <meta property="og:title" content="{{ title or site.title }}">
    <meta property="og:description" content="{{ description or site.description }}">
    {% if image %}
    <meta property="og:image" content="{{ site.url }}{{ image | url }}">
    {% endif %}
    
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="{{ site.url }}{{ page.url | url }}">
    <meta property="twitter:title" content="{{ title or site.title }}">
    <meta property="twitter:description" content="{{ description or site.description }}">
    {% if image %}
    <meta property="twitter:image" content="{{ site.url }}{{ image | url }}">
    {% endif %}

    <link rel="canonical" href="{{ site.url }}{{ page.url | url }}">
    
    <title>{{ title or site.title }}</title>

    <link rel="stylesheet" href="/css/css.css">
    <script data-goatcounter="https://zainsv.goatcounter.com/count"
        async src="/js/count.js"></script>
</head>
<body{% if page.url == "/" %} class="home-page"{% endif %}>
    {% if page.url != "/" %}
        {% include "navbar.njk" %}
    {% endif %}
    {{ content | safe }}
</body>
<footer>
    <div class="footer-content">
        <p> Made with a lot of coffee and <a href="https://www.11ty.dev/">Eleventy</a></p>
    </div>
</html>
