<!-- Navigation Bar Component -->
<nav class="navbar">
    <div class="navbar-container">
        <div class="navbar-menu">
            <a href="/">Home</a>
            <a href="/blog">Blog</a>
            <a href="/gallery">Gallery</a>
            <a href="/resume">Resume</a>
        </div>
    </div>
</nav>
