---
layout: base.njk
---
<link rel="stylesheet" href="/css/post.css">
<link rel="stylesheet" href="/css/prism.css">

<div class="post-container">
  <div class="post-navigation">
    <a href="/blog" class="back-link">&larr; back</a>
  </div>

  <article>
    <header class="article-header">
      <h1>{{ title }}</h1>
      <p class="post-meta">
        <time datetime="{{ page.date }}">{{ page.date | formatDate }}</time>
      </p>
    </header>
    
    <div class="article-content">
      {{ content | safe }}
    </div>
  </article>
</div>